@import "./components/_header.scss";
@import "./components/_cat.scss";
@import "./components/_fonts.scss";
@import "./components/_couse.scss";
@import "./components/_works.scss";
@import "./components/_example.scss";
@import "./components/_cooperation.scss";
@import "./components/_footer.scss";