.cooperation {
    width: 320px;    
}

.cooperation__wrap {
    margin: 0 auto 0px auto;
    position: relative;

}

.cooperation__wrap-text {
    display: flex;
    padding-top: 13px;
    margin: 0 0 15px 0;
}

.cooperation__title {
    width: 140px;
    padding-left: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
}

.cooperation__text {
    width: 140px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.cooperation__map {    
    background-image: -webkit-image-set(
        url("../images/map.webp") 1x,
        url("../images/map@2x.webp") 2x
    );    
    background-image: url("../images/map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;  
}

.cooperation__map-pin{
    position: absolute;
    bottom:167px;
    left: 115px;
    z-index: 4;
}


