.example {
    width: 320px;
    background: #EAEAEA;
}

.example__wrap {
    margin: 0 auto;    
    width: 280px;
    position: relative;
}

.example__title {
    padding: 25px 0px 0 0px;
    margin: 0 0 38px 0 !important;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
}

.example__text {
    margin: 0 0 19px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
}

.example__rip{
    display: flex;
    gap: 32px; 
    margin-bottom:33px;   
    
}

.example__weight {
    display: flex;
    width: 124px;
    height: 56px;
    border: 1px solid #CDCDCD;
    align-items: center;
    justify-content: center;
}

.example__weight-namber {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-transform: uppercase; 
    white-space: nowrap;   
}

.example__weight-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;    
}

.example__snup {
    display: flex;
    position: absolute;
    left: 22px;
    top: 278px;
    width: 77px; 
    align-items: center;
    text-align: center; 
    opacity: 2;
    background: #EAEAEA;
}

.example__weight-text {   
    width: 74px; 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;

}

.example__snup2 {
    position: absolute;
    left: 181px;
    top: 278px;    
}

.example__costs { 
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.example__slider {
    width: 100%;
    max-width: 560px;
    height: 256px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: #EAEAEA; 
}

.slider__container {
    position: relative;
    width: 100%;
    height: 100%;
}
.slider__images {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__image-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__image-left {
    left: 0;
    z-index: 2;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.slider__image-right {
    left: 0;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.slider__picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider__image {
    width: auto;
    height: 100%;
    max-width: none;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slider__divider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 40px; /* Ширина SVG */
    z-index: 10;
    cursor: ew-resize;
    pointer-events: none;
}

.slider__handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: transparent;
    cursor: grab;
    z-index: 11;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.slider__arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    z-index: 12;
    pointer-events: none;
}

.slider__handle:active {
    cursor: grabbing;
}

.slider__handle:hover .slider__arrows {
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 0.2s ease;
}