.footer {
    position: absolute;
    top: 2695px;
    width: 320px;
    background: #F2F2F2;
}

.footer__wrap {
    width: 280px;
    margin: 0 auto; 
    padding: 40px 0 40px 0; 
    z-index: 4;  
    background: #F2F2F2;
}

.footer__picture {
    width: 280px;
    margin: 0 auto 20px auto;    
    border-bottom: 1px solid #D9D9D9;
    box-sizing: border-box;
    display: flex; 
    align-items: center;
}

.footer__logo-text {
    width: 128px; 
    margin: 0 auto;
    height: auto; 
    display: block;
    padding: 0 0 20px 0; 
}

.footer__icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #D9D9D9;
}

.footer__vk_icon {
    margin-bottom: 2px;
}



.footer__academ {
    width: 280px;
    padding-top: 20px;
    margin: 0 auto 0px auto; 
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    gap:140px;
}

