.header {
    width: 320px;     
}

.header__wrap {
  height: 38px;
  width: 279px;
  display: flex;
  margin: 0 auto 13px auto;
  justify-content: space-between; 
  padding-top: 13px;
}
.header__logo {
  text-decoration: none;
  
}

.header__logo-text {
    padding-top: 4px;
}

.header__hamburger {
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 8px;
}


.header__bar {
    width: 100%;
    height: 2px;
    background: black;
}